apiVersion: v1
kind: Service
metadata:
  name: hearus-back-svc
  labels:
    app.kubernetes.io/name: hearus-back
spec:
  type: NodePort
  sessionAffinity: ClientIP
  ports:
    - port: 80
      targetPort: 3000
      name: back-ws
  selector:
    app.kubernetes.io/name: hearus-back
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hearus-back
  labels:
    app.kubernetes.io/name: hearus-back
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: hearus-back
  template:
    metadata:
      labels:
        app.kubernetes.io/name: hearus-back
    spec:
      containers:
      - image: judemin/hearus-back-node
        name: hearus-back
        env:
        - name: FLASK_HOST
          value: http://hearus-flask-svc.default.svc.cluster.local/
        ports:
        - containerPort: 3000
          name: back-ws